<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style type="text/css">

	#side{
		background-color: #01295C;
	}
	#navcolor{
		background-color: #01295C;
	}
	
	.dropdown:hover>.dropdown-menu{
		display: block;
	}
	#sidemenu{
		color:white;
	}
	</style>

</head>
<body>
<nav class="navbar navbar-expand-lg" id="navcolor">
  <a class="navbar-brand" href="#"><img src="/static/images/logo1.png" height="100" width="100"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      
      
      <li class="nav-item dropdown">
      	
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white">
          <i class="fa fa-align-justify" style="padding: 5px;color: white"></i>Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
    </ul>
   
  </div>
</nav>

<div class="container-fluid">
<div class="row">
<div class="col-md-3" style="height: 100vh;padding: 40px" id="side">
<div >

	<p id="sidemenu" class="text-left">Banner Ads</p>
</div>
<div >
	<p id="sidemenu" class="text-left">Video Ads</p>
</div>
<div >
	<p id="sidemenu" class="text-left">Native Ads</p>
</div>
<div >
	<p id="sidemenu" class="text-left">Rich Media Ads</p>
</div>
<div >
	<p id="sidemenu" class="text-left">Html5 Ads</p>
</div>
<div >
	<p id="sidemenu" class="text-left">Contact</p>

</div>
</div>


</div>

	</div>
</body>
</html>